{% extends 'base.html.twig' %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            <h1>{{ artwork.title }}</h1>
            <h2>Auteurs</h2>
            <ul>
                {% for author in artwork.authors %}
                    <li>{{ author }}</li>
                {% else %}
                    <li>Aucun auteur... impossible !!!</li>
                {% endfor %}
            </ul>
            <h2>Publieur</h2>
            <ul>
                {% for publisher in artwork.publishers %}
                    <li>{{ publisher }}</li>
                {% else %}
                    <li>Aucun publieur... impossible !!!</li>
                {% endfor %}
            </ul>
            <ul>
                <li><a href="{{ path('artwork_edit', {id: artwork.id}) }}">Modifier</a></li>
                <li><a href="{{ path('artworks') }}">Retour à la liste</a></li>
            </ul>
        </div>
    </div>
{% endblock %}
